p.name {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    text-shadow: 1px 1px 15px #db2281;
}

h3 {
    font-size: 28px;
    margin: auto;
    text-align: center;
    max-width: 1280px;
    font-weight: 400;
}

.page_one {
background-image: url(/image/pink-970854_1280.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: top center;
max-width: 1920px;
margin-left: auto;
margin-right: auto;
overflow-x: hidden;
}

.page_three {
    background-color: rgb(245, 245, 245);
}

.img0 {
    display: block;
    margin: auto;
    padding: 40px;
}

.img {
    display: block;
    margin: auto;
    height: 420px;
    padding: 40px;
}

.img1 {
   height: 400px;  
    margin: 50px;
}

div.photo {
    width: 844px;
    margin: auto;
}

h4 {
    display: block;
    font-size: 28px;
    margin: auto;
    text-align: center;
    text-shadow: 1px 1px 5px black;
}

.wrapper {
    display: none;
    width: 270px;
    margin: auto;
    padding-bottom: 25px;
}

.wrapper2 {
    display: block;
    width: 500px;
    margin: auto;
    padding-bottom: 25px;
}




