* {
    margin: 0;
    padding: 0;
}

html {
    min-width: 320px;;
}

h1, h2, h3, h4, h5, p {
     font-family: 'Saira Condensed', sans-serif;
}

.container {
    margin: 15px 30px 15px 30px
}



